Repository kubukoz/smithy-playground, pull requests merged in 2025-08, with the labels that each got.

#594 use coursier interface (with shaded deps)
  build.sbt
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
Labels: lsp-kernel

#597 "Go to definition" for operations/services
  build.sbt
  modules/core/src/main/scala/playground/ServiceIndex.scala
  modules/core/src/main/scala/playground/Uri.scala
  modules/core/src/test/scala/playground/MultiServiceResolverTests.scala
  modules/core/src/test/scala/playground/PreludeCompilerTests.scala
  modules/core/src/test/scala/playground/TestTextUtils.scala
  modules/core/src/test/scala/playground/smithyql/AtPositionTests.scala
  modules/language-support/src/main/scala/playground/language/CodeLensProvider.scala
  modules/language-support/src/main/scala/playground/language/CommandProvider.scala
  modules/language-support/src/main/scala/playground/language/DefinitionProvider.scala
  modules/language-support/src/main/scala/playground/language/FormattingProvider.scala
  modules/language-support/src/main/scala/playground/language/TextDocumentProvider.scala
  modules/language-support/src/test/scala/playground/language/CodeLensProviderTests.scala
  modules/language-support/src/test/scala/playground/language/DefinitionProviderTests.scala
  modules/language-support/src/test/scala/playground/language/FormattingProviderTests.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/RunFileParams.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/TextDocumentManager.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerIntegrationTestSharedServer.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerReloadIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
  modules/protocol4s/src/main/smithy/std.smithy
  modules/source/src/main/scala/playground/smithyql/WithSource.scala
Labels: lsp-kernel, core, language-support, lsp, protocol4s, source

#605 Update alloy-core to 0.3.32
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Labels: lsp-kernel

#600 More chatty server start, use progress API
  .scalafmt.conf
  modules/language-support/src/main/scala/playground/language/Feedback.scala
  modules/language-support/src/main/scala/playground/language/Progress.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageClient.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/EmptyConfigTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerIntegrationTestSharedServer.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerReloadIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/TestClient.scala
  modules/lsp/src/main/scala/playground/lsp/Main.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageClientAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
Labels: lsp-kernel, language-support, lsp
